spring:
  application:
    name: Backends
  main:
    web-application-type: servlet
  datasource:
    url: ${DATABASE_URL}
    # username: ${DB_USERNAME}
    # password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      max-lifetime: 1700000
      connection-timeout: 30000
  data:
    redis:
      url: ${REDIS_URL}
      timeout: 2000ms
      ssl: true
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
  jpa:
    hibernate:
      ddl-auto: validate
#    properties:
#      hibernate:
#        format_sql: true
#        show_sql: true  # ✅ Added to see SQL in console
#      # ✅ Use JPA standard properties (not hibernate.hbm2ddl)
#      jakarta.persistence.schema-generation.scripts.action: create
#      jakarta.persistence.schema-generation.scripts.create-target: schema.sql
#      jakarta.persistence.schema-generation.scripts.create-source: metadata
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  profiles:
    default: dev

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
        exclude: env,beans
  endpoint:
    health:
      show-details: always

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:change-me-please-min-32-characters}
    expiration: ${SECURITY_JWT_EXPIRATION:864000000}
server:
  port: ${PORT:8080}
  address: 0.0.0.0