<included>
    <appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventFormattedTimestampJsonProvider">
                <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
            </provider>

            <provider class="net.logstash.logback.composite.loggingevent.ThreadNameJsonProvider"/>
            <provider class="net.logstash.logback.composite.loggingevent.LoggerNameJsonProvider"/>
            <provider class="net.logstash.logback.composite.loggingevent.LogLevelJsonProvider"/>
            <provider class="net.logstash.logback.composite.loggingevent.MessageJsonProvider"/>
            <provider class="net.logstash.logback.composite.loggingevent.MdcJsonProvider"/>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="JSON_FILE"/>
    </root>
</included>